<nav class="bg-container-secondary flex h-14 p-3 pl-3 shadow">
    <div class="relative h-full w-16">
        <img ngSrc="logosmall.png" class="object-contain" fill priority />
    </div>

    <div class="flex flex-grow items-center">
        <!-- Optional content -->
    </div>
    <div class="flex gap-1">
        <div class="w-full">
            <div class="relative inline-flex w-full align-middle">
                <button (click)="nextDarkModeType()" class="button">
                    @if (darkModeType(); as darkModeType) {
                        @if (darkModeType === 'Dark') {
                            <svg-dark-mode-moon></svg-dark-mode-moon>
                        } @else if (darkModeType === 'Light') {
                            <svg-dark-mode-sun></svg-dark-mode-sun>
                        } @else {
                            <svg-dark-mode-system></svg-dark-mode-system>
                        }
                    }
                </button>
            </div>
        </div>
    </div>
</nav>
