<nav class="flex h-14 bg-gray-100 p-3 pl-3 text-gray-700 shadow dark:bg-gray-700 dark:text-gray-400">
    <a class="h-full w-16 cursor-pointer bg-[url('assets/logosmall.png')] bg-contain bg-center bg-no-repeat" [routerLink]="['/']"> </a>

    <div class="flex flex-grow items-center">
        <!-- Optional content -->
    </div>
    <div class="flex gap-1">
        <div class="w-full">
            <div class="relative inline-flex w-full align-middle">
                <button (click)="nextDarkModeType()" class="button">
                    @if (darkModeType(); as darkModeType) {
                        @if (darkModeType === 'Dark') {
                            <svg-dark-mode-moon></svg-dark-mode-moon>
                        } @else if (darkModeType === 'Light') {
                            <svg-dark-mode-sun></svg-dark-mode-sun>
                        } @else {
                            <svg-dark-mode-system></svg-dark-mode-system>
                        }
                    }
                </button>
            </div>
        </div>
    </div>
</nav>
