<div class="bg-container-primary text-default relative flex h-full min-h-screen flex-col pb-20 pt-5">
    <section class="grow">
        <div class="relative h-40">
            <img ngSrc="logo.png" class="object-contain" fill priority />
        </div>

        <div class="my-5"></div>

        <div class="bg-container-secondary flex h-[25rem] flex-col items-center py-10 shadow-2xl shadow-slate-300 dark:shadow-slate-950 lg:h-[38rem]">
            <!-- <div class="relative h-[30rem]">
                <img ngSrc="zh2-teaser.gif" class="object-contain" fill priority />
            </div> -->

            <iframe class="h-full w-[30rem] lg:w-[53rem]" src="https://www.youtube.com/embed/M4Qk6MtHZoc"> </iframe>

            <div class="mt-5 flex flex-col items-center gap-4">
                <p class="text-tertiary text-md flex flex-wrap items-center justify-center gap-2">
                    <span>More info / want to contribute?</span>
                    <a class="button" href="https://discord.gg/ne6WcTCHpj">Join the Discord</a>
                </p>
            </div>
        </div>

        <!-- <div class="pointer-events-none fixed top-0 h-screen w-screen animate-pulse bg-gradient-to-r from-red-700 via-transparent to-red-700 opacity-25"></div> -->
        <!-- <div
            class="pointer-events-none absolute left-0 top-0 h-full w-36 animate-pulse bg-contain bg-repeat-y opacity-40 sm:w-48 md:w-72"
            style="background-image: url(pulsing-red-left.png)"
        ></div>
        <div
            class="pointer-events-none absolute right-0 top-0 h-full w-36 animate-pulse bg-contain bg-repeat-y opacity-40 sm:w-48 md:w-72"
            style="background-image: url(pulsing-red-right.png)"
        ></div> -->
    </section>
</div>

<div class="text-default fixed bottom-0 w-full">
    <app-footer></app-footer>
</div>
