<footer class="flex rounded-lg">
    <div class="mx-auto flex w-full max-w-screen-xl flex-col items-center justify-center text-balance p-1 md:flex-row md:justify-between md:p-4">
        <span class="text-muted text-center text-sm"> &copy; 2024 <span class="hover:underline">RoyDefined</span>. All Rights Reserved. </span>
        <ul class="mt-1 flex flex-wrap place-content-center items-center gap-2 text-sm font-medium md:mt-0">
            <li>
                <a href="https://github.com/RoyDefined" class="button flex">
                    <div class="me-1 h-5 w-6">
                        <svg-social-github></svg-social-github>
                    </div>
                    Github
                </a>
            </li>
            <li>
                <a href="https://Discord.RoyDefined.com/" class="button flex">
                    <div class="me-1 h-5 w-6">
                        <svg-social-discord></svg-social-discord>
                    </div>
                    Discord
                </a>
            </li>

            <li>
                <button (click)="nextDarkModeType()" class="button">
                    @if (darkModeType(); as darkModeType) {
                        @if (darkModeType === 'Dark') {
                            <svg-dark-mode-moon></svg-dark-mode-moon>
                        } @else if (darkModeType === 'Light') {
                            <svg-dark-mode-sun></svg-dark-mode-sun>
                        } @else {
                            <svg-dark-mode-system></svg-dark-mode-system>
                        }
                    }
                </button>
            </li>
        </ul>
    </div>
</footer>
