<header class="flex">
    <div class="mx-auto flex w-full max-w-screen-xl flex-row-reverse text-balance p-1 md:justify-between md:p-4">
        <ul class="mt-1 flex flex-wrap place-content-center items-center gap-2 text-sm font-medium md:mt-0">
            <li>
                <a routerLink="admin" class="button flex">
                    <div class="me-1 h-5 w-6">
                        <svg-icon-admin></svg-icon-admin>
                    </div>
                    Admin panel
                </a>
            </li>
        </ul>
    </div>
</header>
