<div class="default-text-color bg-container relative mt-[20vh] flex max-w-[620px] flex-col justify-self-center rounded-lg">
    <div class="flex rounded-t border-b p-4 dark:border-gray-600">
        <h1 class="default-text-color-highlight grow text-xl font-semibold">
            <h1 class="default-text-color-highlight grow text-xl font-semibold">Alert</h1>
        </h1>
        <button (click)="close()" type="button" class="button flex w-8 justify-center">
            <svg class="h-3 w-3 self-center" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
            </svg>
            <span class="sr-only">Close modal</span>
        </button>
    </div>

    <div class="p-6">
        <p class="text-center text-sm font-medium leading-relaxed text-gray-800 dark:text-gray-200" [innerHTML]="message()"></p>
    </div>
</div>
